{% load static %}

<nav class="navbar navbar-expand-md navbar-light rounded-bottom border border-1">
    <div class="container">
        <a class="navbar-brand mx-3" href="#">
            <img src="{% static 'img/Focus_logo.png' %}" alt="" height="50"
                 class="d-inline-block align-text-top">
            Focus Time
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mx-4">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'index' %} active {% endif %}"
                       aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'socnetwapp' %} active {% endif %}"
                       href="{% url 'socnetw:socnetwapp' %}">Лента</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Тарифы</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'profile' %} active {% endif %}"
                           href="{% url 'authapp:profile' %}">{{ user|title }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'tasks_index' %} active {% endif %}"
                           href="{% url "tasks:tasks_index" %}">Обучение</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "authapp:logout" %}">Выйти</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authapp:login' %}">Вход</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>