/authapp/migrations/0001_initial.py
/blogapp/migrations/0001_initial.py
/socnetwapp/migrations/0001_initial.py
/tasksapp/migrations/0001_initial.py
/tasksapp/migrations/0002_auto_20211102_1017.py
/blogapp/migrations/0002_notesdayfromuser_title.py
/blogapp/migrations/0003_auto_20211101_1853.py
/blogapp/migrations/0004_auto_20211102_1017.py
/static/media/avatars/5yQEVRu7Sbk.jpg
/static/media/avatars/5yQEVRu7Sbk_stMRnlY.jpg
/static/media/answer/79-790754_icon-symbol-button-round-design-landscape-sunset-yuvarlak.png
/static/media/logo_task/79-790754_icon-symbol-button-round-design-landscape-sunset-yuvarlak.png
/static/media/notes_day_from_user/79-790754_icon-symbol-button-round-design-landscape-sunset-yuvarlak.png
/static/media/logo_task/79-790754_icon-symbol-button-round-design-landscape-sunset-yuvarlak_8NdhT1T.png
/static/media/answer/79-790754_icon-symbol-button-round-design-landscape-sunset-yuvarlak_WRLsV8j.png
/static/media/answer/79-790754_icon-symbol-button-round-design-landscape-sunset-yuvarlak_x0wIq1E.png
/static/media/notes_day_from_user/1614719409_22-p-foni-dlya-artov-24.jpg
/static/media/notes_day_from_user/1614719409_22-p-foni-dlya-artov-24_mSUa0uM.jpg
/static/media/notes_day_from_user/1619637171_1-phonoteka_org-p-temnii-nochnoi-fon-2.jpg
/static/media/answer/a490e8624553145ec860cda09fb48362.jpg
/db.sqlite3
/static/media/answer/Facebook-публикация_940x788__пикс.png
/static/media/logo_task/Facebook-публикация_940x788__пикс.png
/static/media/notes_day_from_user/Facebook-публикация_940x788__пикс.png
/static/media/answer/Facebook-публикация_940x788__пикс_00kA3Z1.png
/static/media/notes_day_from_user/image_2021-09-25_16-47-11.png
/static/media/post_to_the_feed/image_2021-09-25_16-47-11.png
/static/media/notes_day_from_user/image_2021-09-25_16-47-11_3l9r3OH.png
/static/media/logo_task/pixlr-bg-result.png
/static/media/answer/png-transparent-computer-icons-process-miscellaneous-text-computer.png
/static/media/logo_task/png-transparent-computer-icons-process-miscellaneous-text-computer-removebg-preview.png
/static/media/logo_task/task_icon.png
/static/media/notes_day_from_user/task_icon.png
/static/media/logo_task/task_icon_2nehoLO.png
/static/media/logo_task/task_icon_gGi9Go0.png
/static/media/logo_task/transparent-line-turquoise-font-icon-symbol-5db17b7e3e3fa1.697474111571912574255.png
/static/media/answer/YAS_5123_lCbxS0F.jpg
/venv/
/.idea/