{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include 'socnetwapp/include/inc_menu_feed.html' %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <!-- Первая карточка -->
                {% for post in posts %}
                    <div class="card">
                        <div class="card-body">

                            <!-- Header -->
                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <div class="col-auto">

                                        <!-- Avatar -->
                                        {% if post.id_user.avatar %}
                                            <a href="#" class="avatar">
                                                <img src="/static/media/{{ post.id_user.avatar }}"
                                                     alt="..."
                                                     class="avatar-img rounded-circle">
                                            </a>
                                        {% else %}
                                            <a href="#" class="avatar">
                                                <img src="/static/media/avatars/user-logo.png" alt="..."
                                                     class="avatar-img rounded-circle">
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="col ms-n2">

                                        <!-- Title -->
                                        <h4 class="mb-1">
                                            {% if post.id_user.first_name %}
                                                <b>{{ post.id_user.first_name }} {{ post.id_user.last_name }}</b>
                                            {% else %}
                                                <b>{{ post.id_user.username }}</b>
                                            {% endif %}
                                        </h4>

                                        <!-- Time -->
                                        <p class="card-text small text-muted">
                                            <span class="fe fe-clock"></span>
                                            <time datetime="2018-05-24">
                                                {{ post.date_create }}
                                            </time>
                                            <br>
                                        <h3><span
                                                class="badge bg-primary-soft">{{ post.group_posts_id }}</span>
                                        </h3>
                                        <hr>
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Dropdown -->
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-ellipses dropdown-toggle"
                                               role="button" data-bs-toggle="dropdown"
                                               aria-haspopup="true"
                                               aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">

                                                <a href="{% url 'socnetw:edit_post' post.id %}" class="dropdown-item">
                                                    Изменить
                                                </a>
                                                <a href="{% url 'socnetwapp:delete_post' post.id %}" class="dropdown-item">
                                                    Удалить
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div> <!-- / .row -->
                            </div>

                            <!-- Text -->
                            <h2 class="mb-3">
                                <b>{{ post.title }}</b>
                            </h2>

                            <p class="mb-3">
                                {{ post.description }}
                                {#                                        {{ post.to_the_post_id_comment }}#}
                            </p>


                            <!-- Image -->
                            {% if post.media %}
                                <p class="text-center mb-3">
                                    <img src="/static/media/{{ post.media }}"
                                         alt="..." class="img-fluid rounded w-50">
                                </p>
                            {% endif %}

                            {# Комментарии #}
                            <!-- Divider -->
                            <hr>

                            {% for comment in post.to_the_post_id_comment.all %}

                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-auto">

                                            <!-- Avatar -->

                                            {% if comment.from_user_id.avatar %}
                                                <a href="#" class="avatar">
                                                    <img src="/static/media/{{ comment.from_user_id.avatar }}"
                                                         alt="..."
                                                         class="avatar-img rounded-circle">
                                                </a>
                                            {% else %}
                                                <a href="#" class="avatar">
                                                    <img src="/static/media/avatars/user-logo.png"
                                                         alt="..."
                                                         class="avatar-img rounded-circle">
                                                </a>
                                            {% endif %}

                                        </div>
                                        <div class="col ms-n2">

                                            <!-- Body -->
                                            <div class="comment-body bg-light">

                                                <div class="row">
                                                    <div class="col">

                                                        <!-- Title -->
                                                        <h5 class="comment-title">
                                                            <b>{{ comment.from_user_id.first_name }}</b>
                                                        </h5>

                                                    </div>
                                                    <div class="col-auto">

                                                        <!-- Time -->
                                                        <time class="comment-time">
                                                            {{ comment.date_create }}
                                                        </time>

                                                    </div>
                                                </div> <!-- / .row -->

                                                <!-- Text -->
                                                <p class="comment-text">
                                                    {{ comment.text|linebreaks }}
                                                </p>

                                            </div>

                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            {% endfor %}

                            <!-- Divider -->
                            <hr>

                            <!-- Form -->
                            <div class="row">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    {% if user.avatar %}
                                        <a href="#" class="avatar">
                                            <img src="/static/media/{{ user.avatar }}" alt="..."
                                                 class="avatar-img rounded-circle">
                                        </a>
                                    {% else %}
                                        <a href="#" class="avatar">
                                            <img src="/static/media/avatars/user-logo.png" alt="..."
                                                 class="avatar-img rounded-circle">
                                        </a>
                                    {% endif %}

                                </div>
                                {#                                                <div class="col ms-n2">#}
                                <div class="col ms-n2">

                                    <!-- Input -->
                                    <form class="mt-1" method="post">
                                        {% csrf_token %}
                                        {{ form.text }}


                                        <button class="btn btn-primary d-block d-md-inline-block"
                                                type="submit"
                                                value={{ post.id }}
                                                        name='id_post'>
                                            Отправить
                                        </button>


                                    </form>

                                </div>
                                {#                                                <div class="col-auto align-self-end">#}
                                {##}
                                {#                                                    <!-- Кнопка отправить, переделать её -->#}
                                {#                                                    <div class="text-muted mb-2">#}
                                {#                                                        <a href="#!" class="btn btn-primary d-block d-md-inline-block">#}
                                {#                                                            Отправить#}
                                {#                                                        </a>#}
                                {##}
                                {#                                                    </div>#}
                                {##}
                                {#                                                </div>#}
                            </div> <!-- / .row -->

                        </div>
                    </div>
                {% endfor %}


            </div>
            <div class="col-12 col-lg-3 ">

                <!-- Вторая карточка -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Тематика постов:
                            </h4>
                            <hr>

                        </div>
                        <br>
                        <!-- Каттегории постов -->
                        <div class="row-cols-auto">

                            <a href="{% url 'socnetw:socnetwapp' %}" class="btn btn-secondary d-block center-block">Все посты</a>

                            <hr>
                            {% for category in category_post %}
                                <a href="{% url 'socnetw:filter_posts' category.id %}"
                                   class="btn btn-secondary d-block center-block">{{ category.title }}</a>
                                <hr>
                            {% endfor %}


                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}