{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- MAIN CONTENT -->
                <div class="main-content">


                    <!-- HEADER -->
                    <div class="header">
                        <div class="container">

                            <!-- Body -->
                            <div class="header-body">
                                <div class="row align-items-start">
                                    <div class="col-auto">

                                        <!-- Avatar -->


                                        {% if user.avatar %}
                                            <a href="#" class="avatar">
                                                <img src="/static/media/{{ user.avatar }}"
                                                     alt="..."
                                                     class="avatar-img rounded-circle">
                                            </a>
                                        {% else %}
                                            <div class="avatar avatar-xxl header-avatar-top">
                                                <img src="/static/media/avatars/user-logo.png" alt="..."
                                                     class="avatar-img rounded-circle border border-4 border-body">
                                            </div>
                                        {% endif %}


                                    </div>
                                    <div class="col mt-5">

                                        <!-- Pretitle -->
                                        <h4 class="header-pretitle">
                                            Ваш профиль:
                                        </h4>

                                        <!-- Title имя профиля -->
                                        {% if user.first_name or user.last_name %}
                                            <h1 class="header-title">
                                                {{ user.first_name }} {{ user.last_name }}
                                            </h1>
                                        {% else %}
                                            <h1 class="header-title">
                                                {{ user.username }}
                                            </h1>
                                        {% endif %}

                                    </div>
                                    <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">

                                        {#                                        <!-- Button -->#}
                                        {#                                        <input type="submit" class="btn btn-primary d-block d-md-inline-block lift"#}
                                        {#                                                           value="Сохранить изменения" name="save_form">#}

                                    </div>
                                </div> <!-- / .row -->

                                <div class="row align-items-center">
                                    <div class="col">

                                        <!-- Верхняя навигация -->
                                        <ul class="nav nav-tabs nav-overflow header-tabs">
                                            <li class="nav-item">
                                                <a href="{% url 'authapp:profile' %}" class="nav-link">
                                                    Информация
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'auth:edit_form' %}" class="nav-link active">
                                                    Настройки
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    Мои записи в блоге(no_activ)
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- CONTENT -->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                <!-- Первая карточка -->
                                <div class="card">
                                    <div class="card-body">

                                        <!-- Header -->
                                        <div class="mb-3">
                                            <div class="row align-items-center">

                                                <div class="col ms-n2">

                                                    <!-- Title -->
                                                    <h4 class="mb-1">
                                                        Изменение информации:
                                                    </h4>


                                                    <form action="" method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <input type="submit" class="btn btn-primary"
                                                               value="Сохранить изменения">
                                                    </form>
                                                    <br>

                                                    <!-- Divider -->
                                                    <hr>

                                                </div>
                                                <div class="col-auto">


                                                </div>
                                            </div> <!-- / .row -->
                                        </div>

                                        <!-- Информация о профиле -->


                                        <!-- Divider -->
                                        <hr>


                                    </div>
                                </div>


                            </div>
                            <div class="col-12 col-xl-4">


                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div> <!-- / .main-content -->

            </div>
        </div>
    </div>













{% endblock %}