{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-body text-center">


                        <!-- Image -->
                        <img src="{% static 'img/focus_logo1.png' %}" alt="..." class="w-75 my-5"
                             style="max-width: 572px;">

                        <!-- Title -->
                        <h1 class="my-4">
                            Сфокусируйтесь на выполнении заданий.
                        </h1>

                        <!-- Content -->
                        <p class="text-muted">
                            И всё будет прекрасненько.
                        </p>

                        <!-- Button -->
                        {% if user.is_authenticated %}
                            <a href="{% url "tasks:tasks_index" %}" class="btn btn-primary lift">
                                Приступить
                            </a>
                            <hr>
                        {% else %}
                            <a href="{% url "auth:registration" %}" class="btn btn-primary lift">
                                Регистрация
                            </a>
                            <hr>

                        {% endif %}


                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}