{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-body text-center">



                                <!-- Image -->
                                <img src="{% static 'img/focus_logo1.png' %}" alt="..." class="w-75 my-5"
                                     style="max-width: 572px;">

                                <!-- Title -->
                                <h1 class="my-4">
                                    Пусть Ваша жизнь будет в фокусе.
                                </h1>

                                <!-- Content -->
                                <p class="text-muted">
                                    Тогда Вы будете жить так, как захотите сами...
                                </p>

                                <!-- Button -->
                                <a href="{% url "tasks:tasks_index" %}" class="btn btn-primary lift">
                                    Обучаться
                                </a>
                                <hr>


                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}