{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container my-4">
        <div class="card">
            <div class="card-body my-4 mx-4">
                <div class="row mb-4">
                        <a href="#" class="btn btn-primary d-block d-md-inline-block mb-3" onclick="openForm()"> Добавить желание </a>
                    <input type="text" class="form-control form-to-wish" id="exampleInputEmail1" aria-describedby="emailHelp" style="display: none">
                </div>
                <div class="row">
                    {% for wish in wish_list %}

                        <div class="col-12">
                            <div class="form-check form-switch">
                                <input class="form-check-input done-wish" type="checkbox"
                                       id="flexSwitchCheckDefault" name="{{ wish.id }}" {% if wish.is_done %}
                                       checked {% endif %}>

                                <div class="alert alert-{% if wish.is_done %}info{% else %}light{% endif %}"
                                     id="box{{ wish.id }}">

                                    <div class="row">
                                        <div class="col-11">
                                            <p class="mb-0" style="font-size:20px">{{ wish.title }}</p>

                                            <p class="mb-0" id="date_done_wish_{{ wish.id }}">
                                                {% if wish.is_done %}
                                                    Выполнено: {{ wish.date_update|date }}
                                                {% endif %}
                                            </p>
                                        </div>

                                        <div class="col-1">
                                            <!-- Dropdown -->
                                            <div class="dropdown text-end">
                                                <a href="#" class="dropdown-ellipses dropdown-toggle"
                                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">

                                                    <a href="#" class="dropdown-item">
                                                        Изменить
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        Удалить
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                </label>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

{% block js-script %}
    <script>
        function openForm(){
            let form_to_wish = $('.form-to-wish')
            if (form_to_wish.is(':visible')) {
                console.log('visible')
                form_to_wish.hide()
            } else {
                console.log('no visible')
                form_to_wish.show()

            }

            {#form_to_wish = $('.form-to-wish').attr('style')['display']#}
            {#console.log(form_to_wish)#}
            {##}
            {#form_to_wish.show()#}
        }


        $('.done-wish').on('click', function () {

            let wish_id = $(this).attr('name')
            let data = {wish_id: wish_id}
            $.ajax({
                type: 'GET',
                url: '{% url "wishlist:wish_done" %}',
                data: data,
                success: function () {
                    let box_color = $('div[id=box' + wish_id + ']')
                    let date_done_wish = $('p[id=date_done_wish_' + wish_id + ']')
                    if (box_color.hasClass('alert-info')) {
                        box_color.attr("class", "alert alert-light")
                        date_done_wish.hide()
                    } else {

                        box_color.attr("class", "alert alert-info")
                        console.log()
                        date_done_wish.show()
                        let dt = new Date()
                        let now_date = dt.getDay() + ' ' + dt.getMonth() + ' ' + dt.getFullYear()
                        date_done_wish.html('<p class="mb-0">Выполнено!</p>')


                    }

                }
            })
        })

    </script>

{% endblock %}