{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container my-4">
        <div class="card">
            <div class="card-body my-4 mx-4">
                <div class="row mb-4">
                    <a href="javascript:void(0);" class="btn btn-info mb-3 click-open-form" onclick="openForm()">
                        Добавить желание </a>
                    <form method="post" class="form-to-wish" style="display: none">
                        {% csrf_token %}
                        {{ form.title }}
                                <div class="text-muted my-2 text-center">
                                    <input class="btn btn-lg w-50 btn-info mb-3" type="submit"
                                           value="Сохранить"
                                           name="add_wish_bd">
                                </div>

                    </form>
                    <hr>
                </div>
                <div class="row">
                    {% for wish in wish_list %}

                        <div class="col-12" id="block{{ wish.id }}">
                            <div class="form-check form-switch">
                                <input class="form-check-input done-wish" type="checkbox"
                                       id="flexSwitchCheckDefault" name="{{ wish.id }}" {% if wish.is_done %}
                                       checked {% endif %}>

                                <div class="alert alert-{% if wish.is_done %}info{% else %}light{% endif %}"
                                     id="box{{ wish.id }}">

                                    <div class="row">
                                        <div class="col-11">
                                            <p class="mb-0" style="font-size:20px">{{ forloop.counter }}. {{ wish.title }}</p>

                                            <p class="mb-0" id="date_done_wish_{{ wish.id }}">
                                                {% if wish.is_done %}
                                                    Выполнено: {{ wish.date_update|date }}
                                                {% endif %}
                                            </p>
                                        </div>

                                        <div class="col-1">
                                            <!-- Dropdown -->
                                            <div class="dropdown text-end">
                                                <a href="javascript:void(0);" class="dropdown-ellipses dropdown-toggle"
                                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">

                                                    <a href="javascript:void(0);" class="dropdown-item">
                                                        Изменить
                                                    </a>
                                                    <a href="javascript:void(0);" class="dropdown-item delete_wish" id="{{ wish.id }}">
                                                        Удалить
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block js-script %}
    <script>
        function openForm() {
            let button_click_open_form = $('.click-open-form')
            let form_to_wish = $('.form-to-wish')
            if (form_to_wish.is(':visible')) {
                button_click_open_form.toggleClass('btn-light btn-info')
                button_click_open_form.html('Добавить желание')
                form_to_wish.hide()
            } else {
                button_click_open_form.toggleClass('btn-light btn-info')
                button_click_open_form.html('Свернуть')
                form_to_wish.show()
            }
        }

        $('.done-wish').on('click', function () {

            let wish_id = $(this).attr('name')
            let data = {wish_id: wish_id}
            $.ajax({
                type: 'GET',
                url: '{% url "wishlist:wish_done" %}',
                data: data,
                success: function () {
                    let box_color = $('div[id=box' + wish_id + ']')
                    let date_done_wish = $('p[id=date_done_wish_' + wish_id + ']')
                    if (box_color.hasClass('alert-info')) {
                        box_color.attr("class", "alert alert-light")
                        date_done_wish.hide()
                    } else {

                        box_color.attr("class", "alert alert-info")
                        console.log()
                        date_done_wish.show()
                        let dt = new Date()
                        let now_date = dt.getDay() + ' ' + dt.getMonth() + ' ' + dt.getFullYear()
                        date_done_wish.html('<p class="mb-0">Выполнено!</p>')


                    }

                }
            })
        })

        $('.delete_wish').on('click', function () {

            let wish_id_del = $(this).attr('id')
            let data = {wish_id: wish_id_del}
            console.log(data)
            $.ajax({
                type: 'GET',
                url: '{% url "wishlistapp:wish_delete" %}',
                data: data,
                success: function () {
                    let wish_id = $('div[id=block' + wish_id_del + ']')
                    wish_id.hide()
                }
            })
        })

    </script>

{% endblock %}