{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
                {% include 'tasksapp/include/inc_menu_tasks.html' %}
    </div>

    <div class="row  my-4">
        <div class="col-12 col-xl-9">

            <!-- Первая карточка -->
            {% for ell in all_comments %}

            <div class="card">
                <div class="card-body">

                    <!-- Header -->
                    <div class="mb-3">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                {% if user.avatar %}
                                    <a href="#" class="avatar">
                                        <img src="/static/media/{{ user.avatar }}" alt="..."
                                             class="avatar-img rounded-circle">
                                    </a>
                                {% else %}
                                <a href="#" class="avatar">
                                    <img src="/static/media/avatars/user-logo.png" alt="..."
                                         class="avatar-img rounded-circle">
                                </a>
                                {% endif %}
                            </div>
                            <div class="col ms-n2">

                                <!-- Title -->
                                <h4 class="mb-1">
                                    {% if request.user.first_name %}
                                        <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>
                                    {% else %}
                                        <b>{{ request.user }}</b>
                                    {% endif %}
                                </h4>

                                <!-- Time -->
                                <p class="card-text small text-muted">
                                    <span class="fe fe-clock"></span>
                                    <time datetime="2018-05-24">
                                        {{ ell.date_create }}
                                    </time>
                                </p>

                            </div>
                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="#" class="dropdown-ellipses dropdown-toggle"
                                       role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">

                                        <a href="{% url 'blog:edit_note_day' ell.id %}" class="dropdown-item">
                                            Изменить
                                        </a>
                                        <a href="{% url 'blog:delete_note_day' ell.pk %}" class="dropdown-item">
                                            Удалить
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>

                    <!-- Text -->
                    <h2 class="mb-3">
                        <b>{{ ell.title }}</b>
                    </h2>

                    <p class="mb-3">
                        {{ ell.description|linebreaks }}
                    </p>


                    <!-- Image -->
                    {% if ell.media %}
                        <p class="text-center mb-3">
                            <img src="/static/media/{{ ell.media }}"
                                 alt="..." class="img-fluid rounded w-50">
                        </p>
                    {% endif %}


                    <!-- Divider -->
                    <hr>

                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-xl-3 ">

            <!-- Вторая карточка -->
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <!-- Title -->
                        <h4 class="card-header-title">
                            Ваш прогресс <br> (пока тут фейк данные)
                        </h4>
                    </div>
                    <!-- List group -->
                    <div class="list-group list-group-flush my-n3">
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h5 class="mb-0">
                                        Вы зарегистрированы
                                    </h5>

                                </div>
                                <div class="col-auto">

                                    <!-- Time -->
                                    <time class="small text-muted" datetime="1988-10-24">
                                        10/24/88
                                    </time>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h5 class="mb-0">
                                        Проёдено заданий
                                    </h5>

                                </div>
                                <div class="col-auto">

                                    <!-- Time -->
                                    <p class="small text-muted">
                                        110
                                    </p>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h5 class="mb-0">
                                        Написано постов и ответов:
                                    </h5>

                                </div>
                                <div class="col-auto">

                                    <!-- Text -->
                                    <small class="text-muted">
                                        140
                                    </small>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h5 class="mb-0">
                                        Из них публичных
                                    </h5>

                                </div>
                                <div class="col-auto">

                                    <!-- Text -->
                                    <small class="text-muted">
                                        78
                                    </small>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h5 class="mb-0">
                                        Лайков у вас:
                                    </h5>

                                </div>
                                <div class="col-auto">

                                    <!-- Text -->
                                    <small class="text-muted">
                                        12 433
                                    </small>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h5 class="mb-0">
                                        Коментариев у вас:
                                    </h5>

                                </div>
                                <div class="col-auto">

                                    <!-- Text -->
                                    <small class="text-muted">
                                        1 854
                                    </small>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div> <!-- / .row -->
</div>
{% endblock %}