{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    {{ content_task.content|safe }}

    {% if type_form == 1 %}
        <br>
        <br>
        <div class="card text-center">
            <div class="card-header">
                <h3>Ваш ответ:</h3>

            </div>
            <div class="card-body">
                <p class="card-text">{{ form.answer|linebreaks }}</p>

                {% if form.media %}
                    <img src="{{ form.media.url }}" alt="" width="500">
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                Ответ создан: {{ form.date_create }}<br>Отредактирован: {{ form.date_update }}
            </div>
        </div>
        <div><br><br></div>
        <a href="{% url 'tasksapp:edit_answer' pk %}" class="btn btn-primary"> Изменить</a>
    {% else %}
        <br>
        <br>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>

            <input type="submit" class="btn btn-primary" value="Отправить" name="answer_sent">
        </form>
    {% endif %}





{% endblock %}