{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    {{ request.user.id }}
    {{ content_task.content|safe }}


    {#    {% if type_form == 1 %}#}
    {#        <br>#}
    {#        <br>#}
    {#        {{ form.answer }}#}
    {#        <input type="submit" class="btn btn-primary" value="Изменить" name="answer_edit">#}
    {#    {% endif %}#}



    <form method="post">
        <br>
        <br>

        <div class="card-body align-baseline">
            {% csrf_token %}
            {{ form}}

        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Сохранить изменения" name="answer_edit">

    </form>





{% endblock %}